body {
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #ffee22; 
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }

ul.navbar a {
  text-decoration: none }

a:link {
  color: #993300
}

a:visited {
  color: #993300
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted 
}