
li.ldItem:hover {
    background: #eeeeee;
}

li.ldItem {
    margin: 8px 0px;
}

.ldItemName {
    font-weight: bold;
}

.ldItemName:hover {
    cursor: pointer;
}

.ldiItemName {
    color:#036;
    font-weight: bold;
}

.ldiItemName:hover {
    cursor: pointer;
}


.ldItemVisibility {
    font-size: small;
    color: #008000;
    padding-left: 10px;
}

div.title {
    font-family:sans-serif;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
}

div.titlepreffix {
    display: inline-block;
    margin-bottom: 20px;
}

div.titlesuffix {
    display: inline-block;
    padding-bottom: 40px;
}

div.loginMenu {
    text-align: right;
    overflow: hidden;
}

div.userName {
    display: inline-block;
    font-weight: bold;
}

div.loginMenuItem {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    color: #ff8000;
}

div.loginMenuItem:hover {
    color: #ffa020;
}

div.errorReport {
    color: #a00000;
}

div.floating {
    position: absolute;
    height: 50px;
    width: 100px;
    left: 330px;
    top: 100px;
    border: 1px black solid;
    background: #fafafa;
    opacity: 0;
}

div#MagicPopupsContainer {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
    overflow: visible;
}

.localeChooseBlock {
    text-align: right;
}

.localeChooseBlock > a {
    padding-left: 5px;
}

body {
    padding: 20px;
}