RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ldshake/(.*)\?*$ ./ldshake/router.php?_route_=$1
#RewriteRule ^ldshake/(.*)\?*$ http://pandora.tel.uva.es/~wic/wic2Ldshake/ldshake/router.php?_route_=$1